.form-option {
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
}

#filter-btn {
    background-color: #e6e6e6;
}

#filter {
    margin-top: 3px;
    background: #e4e4e4;
    border-radius: 6px;
    padding: 5px;
}

#map {
  height: 50%;
  width: 50%;
}
