.form-option {
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
/*when hovering an item:*/
    background-color: #e9e9e9; 
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

#filter-btn {
    background-color: #e6e6e6;
}

.no-pad {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    display: inline;
}

.high-temp {
    color: #e95e5e;
}

.low-temp {
    color: #5e83e9;
}
#filter {
    margin-top: 3px;
    background: #e4e4e4;
    border-radius: 6px;
    padding: 5px;
}
#forecast-container {
    /* margin-top: 5px; */
    margin-bottom: 10px;
}
.panel-body {
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
}
.a-no-underline {
    text-decoration: none !important;

    color: inherit;
}

.a-no-underline:hover {
    color:inherit;
}
/* #results-container {
    padding-left: 30px;
} */
