.form-option {
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
}

#filter-btn {
    background-color: #e6e6e6;
}

#filter {
    margin-top: 3px;
    background: #e4e4e4;
    border-radius: 6px;
    padding: 5px;
}
.panel-body {
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
}
.a-no-underline {
    text-decoration: none !important;

    color: inherit;
}

.a-no-underline:hover {
    color:inherit;
}
#results-container {
    padding-left: 30px;
}
